/* Color Vars */
@property --backgroundColor {
	syntax: "<color>";
	initial-value: #E0E1DD;
	inherits: false;
}

/** font root size 16pt */
html
{
	font-size: 18px;
}

/** remove all default element padding, margins */
html *
{
	margin: 0;
	padding: 0;
}

/** TODO put the dasani logo looking image here */
body
{
	background-image: url(www.google.com);
}


header
{
	background-color: steelblue;
	display: flex;
	justify-content: space-between;
	padding: 0 2rem;
}

/** italicize `CheckEasy` */
header p
{
	background-color: skyblue;
	cursor: pointer;
	padding: 1rem;
}

#title
{
	font-style: italic;
}

/** main section (under header bar) */
main
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 1rem 0;
}

/** 3 sections populated by lists */
section
{
	/* background-color: purple; */
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	gap: 2rem;
	padding: 0.5rem;
	width: 30%;
}

/** list titles */
h1
{
	margin-bottom: 1rem;
}

/** per list */
figure
{
	background-color: lightgray;
	border-radius: 1rem;
	text-align: center;
}

/** tasks */
figure ul
{
	/* background-color: steelblue; */
	padding: 0 5% 0 25%;
	text-align: left;
}

/** unfinished vs finished tasks */
.unfinished
{
	list-style-type: circle;
	transition: all 1s;
}
.finished
{
	color: green;
	list-style-type: disc;
	text-decoration:line-through;
}

#addTaskButton
{
	background-color: steelblue;
	box-sizing: border-box;
	border-radius: 1rem;
	cursor: pointer;
	margin: 1rem 20%;
}

#newListButton
{
	box-sizing: border-box;
	border-radius: 5rem;
	cursor: pointer;
	margin: 0 10%;
	padding: 0.5rem 0;
	transition: all 1s;
}

#newListButton:hover
{
	background-color: gray;
}
