header
{
    background-color: steelblue;
    display: flex;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
    padding: 0 2vw 0 2vw;
}

header figure {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    padding: 1%;
    user-select: none;
}

/** italicize `CheckEasy` */
header #title
{
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 1rem;
    font-style: italic;
}

header #pageheader {
    font-size: 36px;
    font-weight: bold;
    background-color: skyblue;
}

header #logout {
    cursor: pointer;
    background-color: lightgray;
    transition: all 0.2s ease-in;
}

header #logout:hover {
    background-color: indianred;
    color: white;
}