html
{
	--backgroundColor: #E0E1DD;
	--green: #03C03C;
	font-size: 18px;
}
/** remove all default element padding, margins */
html *
{
	margin: 0;
	padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

body
{
	background-image: url(360_F_542731787_npIDENXs9NMkl1mtyHKj8De2WBL2vnFW.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


header
{
	background-color: steelblue;
	display: flex;
	justify-content: space-between;
	padding: 0 2rem;
}

/** italicize `CheckEasy` */
header p
{
	background-color: skyblue;
	cursor: pointer;
	padding: 1rem;
}

#title
{
	font-style: italic;
}
.main{
    display:flex;
    justify-content:center;
    align-items:center;
}


#listcontainer{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin:10vh;
    border:solid;
    border-radius:10px;
    text-align:center;
}

#sharecontainer{
    margin:10vh;
    border:solid;
    border-radius:10px;
    text-align:center;
}

.container2{
    display:flex;
    align-items:Center;
    justify-content:center;
}
.Save{
    background-color:#4CAF50;
    color:white;
    margin-bottom:10px;
    user-select: none;
}


input[type="button"]{
    padding:10px 20px;
    margin-top:10px;
    width:100%;
    border:none;
    border-radius:5px;
    cursor:pointer;
    max-width:300px;
    user-select: none;
}

li {
    cursor: pointer;
    user-select: none;
}

.unfinished
{
	list-style-type: circle;
	transition: all 1s;
}
.finished
{
	color: green;
	list-style-type: disc;
	text-decoration: line-through;
}

#listcontainer ul li{
    padding-top:1vh;
    padding-bottom:1vh;
}

#listcontainer ul li:hover{
    color:green;
}

#listcontainer #ownerP:hover{
    color:black;
}

#listcontainer #ownerP{
    border:none;
}

#listcontainer p:hover{
    color:blue;
    cursor:pointer;

}

#listcontainer p{
    border:solid;
    padding:0.5vh;
    border-radius:5px;
}



#sharecontainer ul {
    border:solid;
}

#sharecontainer p{
    padding-top:1vh;
    padding-bottom:1vh;
}

#sharecontainer p:hover{
    color:red;
    cursor:pointer;
    text-decoration: line-through;

}
