html
{
	--backgroundColor: #E0E1DD;
	--green: #03C03C;
	font-size: 18px;
}
/** remove all default element padding, margins */
html *
{
	margin: 0;
	padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

body
{
	background-image: url(360_F_542731787_npIDENXs9NMkl1mtyHKj8De2WBL2vnFW.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#title
{
	font-style: italic;
}
.main{
    display:flex;
    justify-content:center;
    align-items:center;
}


#listcontainer{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin:10vh;
    border:solid;
    border-radius:10px;
    text-align:center;
    background-color: lightgray;
    padding: 2%;
}

#sharecontainer{
    margin:10vh;
    border:solid;
    border-radius:10px;
    text-align:center;
    background-color: lightgray;
    padding: 2%;
    margin-bottom: 2vh;
}

.container2{
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
}

.save{
    background-color: var(--green);
    border-radius: 3rem;
    box-sizing: border-box;
    cursor: pointer;
    padding: .5rem;
    font-weight: bold;
    font-size: large;
    margin: 0;
}


input[type="button"]{
    padding:10px 20px;
    margin-top:10px;
    width:100%;
    border:none;
    border-radius:5px;
    cursor:pointer;
    max-width:300px;
    user-select: none;
}

li {
    cursor: pointer;
    user-select: none;
}

.unfinished
{
	list-style-type: circle;
	transition: all 1s;
}
.finished
{
	color: green;
	list-style-type: disc;
	text-decoration: line-through;
}

#listcontainer ul li{
    padding-top:1vh;
    padding-bottom:1vh;
}

#listcontainer ul li:hover{
    color:green;
}

#listcontainer #ownerP:hover{
    color:black;
}

#listcontainer #ownerP{
    border:none;
}

#sharecontainer p {
    padding-top:1vh;
    padding-bottom:1vh;
}

#shareusers {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 3vw;
}

#shareusers p:hover{
    color:red;
    cursor:pointer;
    text-decoration: line-through;
}

#addusers {
    display: flex;
    justify-content: center;
}

#adduser {
    padding: 2%;
    background-color: steelblue;
    border-radius: 1rem;
    width: 5vw;
    cursor: pointer;
    transition: all 0.3s ease-in;
    margin-top: 1%;
}

#adduser:hover {
    scale: 1.15;
    background-color: cornflowerblue;
}

#addtaskbutton {
    background-color: steelblue;
    border-style: none;
    padding: 1%;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 2%;
    transition: all 0.3s ease-in;
}

#addtaskbutton:hover {
    background-color: cornflowerblue;
    scale: 1.15;
}

#newuserinput, #newtaskinput {
    padding: 1%;
    border-radius: 1rem;
    font-size: medium;
}

#newtaskinput {
    padding: 2%;
}

span {
    margin: 2%;
}