/** font root size 16pt */
html
{
	font-size: 18px;
}

/** remove all default element padding, margins */
html *
{
	margin: 0;
	padding: 0;
}

header
{
	background-color: steelblue;
	display: flex;
	justify-content: space-between;
}

/** lets make CheckEasy italicized !! : ) */
header p
{
	background-color: green;
	cursor: pointer;
	font-style: italic;
	padding: 1rem;
}

header span
{
	display: flex;
	gap: 2rem;
	text-wrap: nowrap;
}

header span p
{
	font-style: normal;
}

main
{
	background-color: orange;
	display: flex;
	gap: 1rem;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 1rem;
}

section
{
	background-color: purple;
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	gap: 1rem;
	width: 30%;
}

figure
{
	background-color: lightgray;
	text-align: center;
}
